{% extends "books/base.html" %}
{% block content %}
<h2>Search For Books</h2>

<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Search books..." required>
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit">Search</button>
</form>
<form method="get" action="{{ next_page }}">
    <button type="submit">Back</button>
</form>

<hr>

<div class = "book-grid">
{% for book in results %}
  <div class="book-card">
    {% if book.cover_i %}
      <img src="https://covers.openlibrary.org/b/id/{{ book.cover_i }}-M.jpg">
    {% else %}
      <p>No Cover Available</p>
    {% endif %}
    <div class="book-title">
      {{ book.title }}
    </div>
    <div class="book-author">
      {{ book.author_name|join:", " }}
    </div>
    <a href="{% url 'book_detail' book.key %}">
      <button class="btn">View Details</button>
    </a>

    <form method="POST" action="{% url 'add_book' %}">
      {% csrf_token %}
      <input type="hidden" name="olid" value="{{ book.key }}">
      <input type="hidden" name="title" value="{{ book.title }}">
      <input type="hidden" name="authors" value="{{ book.author_name|join:', ' }}">
      <input type="hidden" name="cover_id" value="{{ book.cover_i }}">
      <button>Add to Want to Read</button>
    </form>
  </div>
{% endfor %}
</div>
{% endblock %}